@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    VILLA 52C, HANN MARISTE<br />
    DAKAR, SENEGAL<br />
    <abbr title="Phone">P:</abbr>
    77-849-47-45
</address>
