@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:beige; background-image:url(/images/image.jpg)"">
    <h2>HERITAGE EN ISLAM</h2>
    <p class="lead">Lois et règles de partage de l’héritage en Islam. Droits et règles de succession en Islam.</p>
    <p><a href="https://www.islam.ms/heritage-en-islam/" class="btn btn-primary btn-lg">Lire la suite &raquo;</a></p>
</div>

<div class="row" style="background-color:antiquewhite">
    <div class="col-md-4">
        <h3>Les dix personnes qui héritent parmi les femmes </h3>
        <p>
            La fille, la fille du fils, la mère, la mère de la mère, la mère du père, la sœur de même père et de même mère, la sœur de même père, la sœur de même mère, l’épouse et celle qui a affranchit.

        </p>
        <p><a class="btn btn-default" href="https://www.islam.ms/heritage-en-islam/">Plus de details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Les quinze personnes qui héritent parmi les hommes </h3>
        <p>Parmi les héritiers, quinze personnes héritent qui sont : le fils, le fils du fils, le père, le père du père, le frère du même père et de même mère, le frère du même père, le frère de même mère, le fils du frère de même père et de même mère, le fils du frère du même père, l’oncle paternel de même père et de même mère ou de même père, le fils de l’oncle paternel de même père et de même mère, le fils de l’oncle paternel de même père, l’époux et la personne qui a affranchit.</p>
        <p><a class="btn btn-default" href="https://www.islam.ms/heritage-en-islam/">Plus de details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Remarque</h3>
        <p> le mécréant n’hérite pas du musulman et le musulman n’hérite pas du mécréant. De même l’homicide prive la personne de l’héritage, c’est à dire le fait d’avoir tué celui de qui on hérite.</p>
        <p><a class="btn btn-default" href="https://www.islam.ms/heritage-en-islam/">Plus de details &raquo;</a></p>
    </div>
</div>